<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/public/images/payment_success.png" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><h3><strong>Pago del pedido con id: {{pedidoActual._id}} realizado correctamente</strong></h3></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Has pagado {{pedidoActual.totalPedido}}€ en fecha {{pedidoActual.fechaPedido}} por tus libros de Agapea.com.</p>
                <p> Se te ha mandado un email con la factura del mismo (consulta la bandeha de Correo no deseado o Spam por si acaso).</p>
                <p>Accede al panel del usuario para ver tu lista de pedidos hechos en la tienda.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"> <a class="btn btn-success btn-lg" href="http://localhost:3000/Cliente/Panel/MisPedidos">IR A MIS PEDIDOS</a></div>
        </div>
    </div>

</body>
</html>
