<!--Vista que recibe como objeto contexto un modelo direccion-->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Pedido realizado el {{fechaPedido}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Con id: {{_id}}</h6>

        <p class="card-text">Enviado a: {{direccionEnvio.calle}} , Coste: {{totalPedido}}€</p>

    </div>
</div> 