<!-- listado de libros -->
    {{#if (operar _listalibros.lenght '!=' 0) }}
        {{#each _listalibros as |unlibro|}}
            <div class="col-4">
                {{>VistaMiniLibro unlibro}}
            </div>
        {{/each}}
    {{else}}
        <p><h5><strong>No se han encontrado libros </strong>de esa categoria...</h5></p>
    {{/if}}


